# Diretório
01 - Fundamento da tecnolgia da informação e comunicação
03 - Fundamentos da qualidade e produtividade
05 - Saúde e segurança no trabalho
07 - Fundamentos da Indústria 4.0
08 - Sustentabilidade nos processos industriais

# Arquivos
Fundamento_da_tecnolgia_da_informação_e_comunicação.pdf
Relatório_de_notas_do_curso_Fundamentos_da_Tecnologia_da_Informação_e_Comunicação_QO_FROEND_DPE_231T02.pdf

Metodologias_ágeis.pdf
Relatório_de_notas_do_curso_Metodologias_Ágeis_QO_FROEND_DPE_231T02.pdf

Fundamentos_da_qualidade_e_produtividade.pdf
Relatório_de_notas_do_curso_Fundamentos_da_Qualidade_e_Produtividade_QO_FROEND_DPE_231T02.pdf

Relatório_de_notas_do_curso_Versionamento_QO_FROEND_DPE_231T02.pdf
Versionamento.pdf

Relatório_de_notas_do_curso_Saúde_e_Segurança_no_Trabalho_QO_FROEND_DPE_231T02.pdf
Saúde_e_segurança_no_trabalho.pdf

Lógica_de_programação.pdf


Fundamentos_da_Indústria_4.0.pdf
Relatório_de_notas_do_curso_Fundamentos_da_Indústria_4.0_QO_FROEND_DPE_231T02

Sustentabilidade_nos_processos_industriais.pdf



